
.footer{
    margin-top:2%;
    margin-left: 0%;
    width:102%;
    height:250px;
    background-color: #203E6C;
    margin-left: -1%;

}

.icon_footer{
    padding-left: 3%;
    background-color: #203E6C;
    float : left;
    width : 20%;

}
.icon_footer img{
    background-color: #203E6C;
    width:100px;
    height:100px;
}


.page_footer{
    padding-left: 3%;
    background-color: #203E6C;
    float : left;
    width : 20%;
}

.developer_footer{
    padding-left: 3%;
    background-color: #203E6C;
    float : left;
    width : 20%;
}

.social_link_footer{
    padding-left: 3%;
    background: #203E6C;
    float:left;
    width : 20%;
}


@media screen and (max-width: 640px) {
    .footer{
        width:100%;
    }
    .icon_footer{
        width : 100%;
    }
    .icon_footer img{
        width:120px;
        height:120px;
    }
    .developer_footer{
        width : 100%;
    }
    .page_footer{
        width: 100%;
    }
    .social_link_footer{
        width : 100%;
    }
}

@media screen and (max-width: 320px) {
    .footer{
        width:100%;
    }
    .icon_footer{
        width : 100%;
    }
    .icon_footer img{
        width:120px;
        height:120px;
    }
    .developer_footer{
        width : 100%;
    }
    .page_footer{
        width: 100%;
    }
    .social_link_footer{
        width : 100%;
    }
}
